.register{


}

.register__card{

  height: 727px;
  width: 844px;
  border-radius: 12px;
  padding: 16px 0px 68px 0px;
  /*height: 727px;
  width: 844px;
  left: 304px;
  top: 52px;
  border-radius: 12px;
  padding: 16px 0px 68px 0px;*/

}

.regform{
  height: 455px;
  width: 340px;


}



.regform__input{

  background: #FFFFFF;
  border: 1px solid #E7ECF8;
  box-sizing: border-box;
  border-radius: 8px;
  height: 56px;
  padding: 5px 16px 5px 16px;

  margin: 24px 0px;
}



.q-field__label{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2199999988079071px;
  text-align: left;
  color: rgba(23, 29, 34, 0.5);

}
.q-field__native{

  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.11999999731779099px;
  text-align: left;
  color: #A7B2BE;



}

.logform{
  height: 240px;
  width: 340px;


}
.allcoureses{


  display: grid;
  grid-template-columns: repeat(3, 410.6666564941406px);
  grid-auto-rows:  539px;
  grid-gap: 24px;

  /*display: flex;
  width: 1280px;
  flex-wrap: wrap;
  height: 1200px;*/
}
.courses{
/*  height: 539px;
  width: 410.6666564941406px;
  left: 0px;
  top: 0px;
  border-radius: 12px;*/
 // padding: 0px 0px 28px 0px;

}

.course{
  height: 539px;
  width: 410.6666564941406px;
}
.separator{
  position: static;
  width: 269px;
  height: 0px;
  left: 24px;
  top: 0px;

  border: 1px solid rgba(23, 29, 34, 0.08);



}

.bar_a{
  height: 37px;
  width: 673px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 8px;
  font-family: Mulish, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 148%;

}
/*
.custom_togle{
  width: 764px;
  height: 40px;
  left: 0px;
  top: 56px;

  background: #F5F6F7;
  border-radius: 100px;


}
*/
.my-custom-toggle{
  width: 764px;
  height: 40px;
  border: 2px solid #171D22;
}
.header-card{
  width: 844px;
  height: 0px;
}
.enroll__button{

  background: #171D22;
}
